<div style="margin:20px;">
  <div class="row">
    <div class="col-sm-3">
      <div class="card text-white bg-warning mb-3" (click)="navToMerchant();">
        <div class="card-header"></div>
        <div class="card-body">
          <p class="card-text"><i class="fa fa-5x fa-fw fa-cogs"></i></p>
          <h4 class="card-title">Merchant onboarding </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header"></div>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text"><i class="fa fa-5x fa-fw fa-cogs"></i></p>
        </div>
      </div>
    </div>
    <!-- /.col-sm-4 -->
    <div class="col-sm-3">
      <div class="card text-white bg-warning mb-3">
        <div class="card-header"></div>
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text"><i class="fa fa-5x fa-fw fa-cogs"></i></p>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header"></div>
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text"><i class="fa fa-5x fa-fw fa-cogs"></i></p>
          </div>
        </div>
      </div>
      <!-- /.col-sm-4 -->
      <div class="col-sm-3">
        <div class="card text-white bg-warning mb-3">
          <div class="card-header"></div>
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text"><i class="fa fa-5x fa-fw fa-cogs"></i></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header"></div>
          <div class="card-body">
            <h4 class="card-title"></h4>
          <p class="card-text"><i class="fa fa-5x fa-fw fa-cogs"></i></p>
          </div>
        </div>
      </div>
  </div>
</div>